.logo{
  font-family: 'Cookie', cursive;
}
*{
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nunito', sans-serif !important;
  color:white;
  background-color: #323232 !important;
}
.avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: rgb(39, 38, 38);
}
.header__camera,.header__send{
  display:none;
}
.avatar__story{
  width:60px;
  height:60px;
  border-radius: 50%;
}
.post__comment_box{
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  outline:none;
  display: block;
  color:white;
  padding-left: 10px;
}
.post__comment_box ::placeholder{
  color: grey !important;
  font-size: 10px !important;
  display: none;
}
.comment__icon{
 color: grey;
 margin: 0 .3em;
}
.comment__icons{
  right: 10px;
  top: 5px;
  position:absolute;
 
}
.story__navigation{
  /* margin-bottom:{"1em"} padding="1em 0" backgroundColor="black" width={"100%"}   border="1px solid grey" color={"grey"} borderRadius="20px"  */
  margin-bottom: 1em;
  padding:1em 0;
  background-color: black;
  width:100%;
  border:1px solid grey;
  color:grey;
  border-radius: 20px;
  overflow: hidden;
}


@media (max-width:400px) {
  .header__camera,.header__send{
    display: block;
    font-size: 22px;
    transform: translateY(.2em);
  }
  .avatar__story{
    width:45px;
    height:45px;
  }
  .story__navigation{
    padding: .5em;
  }
  .story__wrapper{
    overflow-x: scroll;
  }
  .post__comment_avatar{
    display:none;
    color:rgba(22, 22, 22, 0.295)
  }
  
}
.explore__search_input{
  outline:none;
  border:none;
  display: block;
  width: 100%;
  height:100%;
  background:transparent;
  text-align:center;
  color:white
}
.big__avatar{
  width:150px;
  height: 150px;
  border-radius: 50%;
  border: 6px solid #323232fd;
}
.profile__settings_icon{
   font-size: 25px;
   transform:translate(.2em,-.1em);
   color: white;
}
.profile__resource_icon{
  font-size:58px
}
@media(max-width:780px){
  .big__avatar{
    width:100px;
    height:100px;
    border: 3px solid #323232fd;
  }
  /* .profile__settings_icon{
    transform:translate(.5em,.2em);
  } */

  .profile__nav_icon{
    display:block;
    font-size:28px;
  }
}
@media(max-width:400px){
  .big__avatar{
    width:100px;
    height:100px;
  }
  .profile__resource_icon{
    font-size:35px
  }
}